body{
  background-color: whitesmoke;
}
.task-container{
  margin: 5px;
  padding: 10px;
  width: 32%;
  border: 1px solid purple;
}

.purpleBG{
  background-color: purple;
}

.nav-link, .navbar-brand{
  color: white !important;
}

